<div class="comment">
<h3> Comment added by:</h3>

<h4><%= @comment.user.name %></h4>

<h3><%= @comment.title %></h3>
<p><%= @comment.content %></p>

<% if @comment.user == current_user %>
  <%= link_to 'Delete Comment', group_comment_path(@comment.group.id, @comment.id), method: :delete %>
<% else %>
  <p><%= 'you can only delete your own comments' %></p>
<% end -%>
<div class="group_edit">
</div>