<h3> list of all the groups available: </h3>

	<ul>
 <% @groups.each do |group| %>
 	<li><%= link_to (group.name + ' ' + group.climbing_level), group_path(group)%></li>
 <% end %>
 </ul>


<table class="table">
    <thead>
        <tr>
            <th>Capacity</th>
            <th>No. of Members</th>
            <th>Name</th>
            <th>Climbing Level</th>
            <th>Created by</th>
        </tr>
    </thead>
     <% @groups.each do |group| %>
	     <tr>
	     	<td>
	     		<%= group.name %>
	     	</td>
	     	 <td>
	     		<%= group.name %>
	     	</td>
	     		<td>
	     		<%= group.name %>
	     	<td>
	     		<%= group.climbing_level %>
	     	</td>
	     	 <td>
	     		<%= group.creator.name %>
	     	</td>
	     </tr>
		<% end %>
</table>



   <% if current_user %>
		<%= link_to 'create new group', new_group_path%>
	<% else %>
	 <p><%= 'register to create groups!' %></p>
	 <%end %>


  <h3> checkout the users by their climbing level: </h3>
  <% @groups.each do |group| %>
	  <% group.users.each do |user|  %>
			<% user.climbing_level %>
			<li><%= link_to  (user.climbing_level + ' ' + user.name), user_path(user.id) %></li>

	  <% end -%>
  <% end -%>
