<div class="group_show">
<h3><%= @group.name %></h3>

<h4><%= 'Required climbing level to join: ' + @group.climbing_level %></h4>
<% if current_user && !@group.users.include?(current_user) %>
	<%= link_to 'join', join_path(@group.id) %>
<% end %>


<% if current_user && @group.users.include?(current_user) %>
	<%= link_to 'leave', leave_path(@group.id) %>
<% end %>

<h3>Members of this Group:</h3>

<ul>
<% @group.users.each do |user| %>
<li><%= link_to user.name, user_path(user) %></li>
<% end %>
</ul>


<dl class="dl-horizontal">
	<%= button_to "Delete this group", group_path(@group), method: :delete %> 
</dl>

<% if current_user && @group.users.include?(current_user) %>
	<%= link_to "Update this group", edit_group_path(@group.id)%>  
<% end %>

<br>
</br>


<%# if @group.users.include?(current_user)g.users.include?(u) %>




<div class="field">
	<%= form_tag("/addplace", method: "post") do %>
		<%= hidden_field_tag :group_id, @group.id %>
		<%= select_tag "place", options_from_collection_for_select(Place.all, "id", "name") %>
  	<%= submit_tag("Add Place to Group") %>
	<% end %>
</div>

<%= link_to 'Leave a comment', new_group_comment_path(@group.id) %></br><br>


<br><h4> Comments made by users: </h4>
<ul>
<% @group.comments.each do |comment| %>
<li><%= link_to comment.title, group_comment_path(@group.id, comment.id) %></li>
<% end -%>
</div>



