<h1><%= @group.name %></h1>

<h3>Members of this Group:</h3>

<ul>
<% @group.users.each do |user| %>
<li><%= user.name %></li>
<% end %>
</ul>


<dl class="dl-horizontal">
	<%= button_to "Delete this group", group_path(@group), method: :delete %> 
</dl>

<% if current_user && @group.users.include?(current_user) %>
	<%= link_to "Update this group", edit_group_path(@group.id)%>  </br>
<% end %>


<%# if @group.users.include?(current_user)g.users.include?(u) %>


<% if current_user && !@group.users.include?(current_user) %>
	<%= link_to 'join', join_path(@group.id) %>
<% end %>


