<h1> edit this user </h1>

<%= form_for [@user] do |p| %>
	<%= p.label :name %>
	<%= p.text_field :name %>

	<%= p.label :email %>
	<%= p.text_field :email %>

	<%= p.label :password %>
	<%= p.password_field :password %>

	<br>

	<%= p.submit 'save' %>
	<%= link_to 'cancel', user_path(@user) %>
<% end %>

