<div class="user_show">
<h2><%=  @user.name %></h2>

<%= image_tag (@user.userpic.url), :class => "style_profilepic" %>

<h3><%= 'climbing level:' + ' ' + @user.climbing_level %></h3>

<h4> belongs to these groups:</h4>
<ul>
<% @user.groups.each do |group| %>
<li><%= link_to group.name, group_path(group)%></li>
<% end %>
</ul>



<dl class="dl-horizontal">

<%= button_to "Delete this user", user_path(@user), method: :delete %> </dl>

<%= link_to "Update this user", edit_user_path(@user.id)%>
</div>