<h1><%=  @user.name %></h1>

<%= image_tag (@user.userpic.url), :class => "style_profilepic" %>

<h3><%= 'climbing level:' + ' ' + @user.climbing_level %></h3>

<h3> belongs to these groups:</h3>
<ul>
<% @user.groups.each do |group| %>
<li><%= group.name %></li>
<% end %>
</ul>



<dl class="dl-horizontal">

<%= button_to "Delete this user", user_path(@user), method: :delete %> </dl>

<%= link_to "Update this user", edit_user_path(@user.id)%>
