<div class="places_show">
<h2><%= @place.name %></h2>
<h3><%= 'about' +' ' + @place.name + ':' %></h3>
<p><%= @place.kind + ', ' + @place.location + ', '  %> 
<%= image_tag (@place.placeimage.url), :class => "style_placeimage" %></p>

<p> latitude and longitude: </p>
<p id='lat'><%= @place.latitude %><p>
<p id='long'><%= @place.longitude %><p>

<h3>Groups that go here:</h3>
<% @place.groups.each do |group| %>
	<li><%= link_to group.name, group_path(group)%></li>
<% end %>
<br>

<dl class="dl-horizontal">
	<%= button_to "Delete this place", place_path(@place), method: :delete %> 
</dl>

	<%= link_to "Update this place", edit_place_path(@place.id)%>  </br>

	<%= link_to "Show all places", places_path %></p></br>

<h4> Rating of the place: </h4>
<% if @place.ratings.all.any? %>
<% @place.average_rating.times do %>
	<i class="fa fa-beer"></i><span class='space'></span>
	<% end %>
<% end -%>


<% if current_user.rated_places.include?(@place) %>
	<p><%= 'you have already rated this place' %></p>
	<% else -%>
	<h4>
	<%= link_to "rate this place", new_place_rating_path(@place.id)%>
	</h4>
<% end -%>
</div>


<div id="map-canvas"></div>


<script>
  jQuery(document).ready(function() {
		var map;
		var latitude = $('#lat').text();
		var longitude = $('#long').text();
		function initialize() {
			var mapOptions = {
				zoom: 15,
				center: new google.maps.LatLng(latitude, longitude)
			};
			map = new google.maps.Map(document.getElementById('map-canvas'),
			  mapOptions);
		}
		initialize();
  })
</script>
</div>





