<h1><%= @place.name %></h1>
<h3><%= 'information about' +' ' + @place.name + ':' %>
<p><%= @place.kind + ', ' + @place.location + ', '  %> 
<%= image_tag (@place.placeimage.url), :class => "style_placeimage" %>

<h3>Groups that go to that place:</h3>
<% @place.groups.each do |group| %>
	<%= group.name %>
<% end %>

<h4>geolocation details: </h4>
<p><%= @place.location %><p>
<p id='lat'><%= @place.latitude %><p>
<p id='long'><%= @place.longitude %><p>

<p>Average rating</p>
<div id="star"></div>

<p>Your rating</p>
<h4><%= 'the average rating ' + @place.average_rating.to_s %>
<div id="user_star"></div>

	<%= link_to "rate this place", new_place_rating_path(@place.id)%>  </br>

<dl class="dl-horizontal">
	<%= button_to "Delete this place", place_path(@place), method: :delete %> 
</dl>

	<%= link_to "Update this place", edit_place_path(@place.id)%>  </br>

	<%= link_to "show all places", places_path %></p></br>

<div id="map-canvas"></div>

<script>
	var map;
	var latitude = $('#lat').text();
	var longitude = $('#long').text();
	console.log(lat);
	function initialize() {
		var mapOptions = {
			zoom: 14,
			center: new google.maps.LatLng(latitude, longitude)
		};
		map = new google.maps.Map(document.getElementById('map-canvas'),
		  mapOptions);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

</script>






