<h1><%= @place.name %></h1>
<h3><%= 'information about' +' ' + @place.name + ':' %>
<p><%= @place.kind + ', ' + @place.location + ', '  %> 
<%= image_tag (@place.placeimage.url), :class => "style_placeimage" %>

<h3>Groups that go to that place:</h3>
<% @place.groups.each do |group| %>
	<%= group.name %>
<% end %>


<dl class="dl-horizontal">
	<%= button_to "Delete this place", place_path(@place), method: :delete %> 
</dl>

	<%= link_to "Update this place", edit_place_path(@place.id)%>  </br>

	<%= link_to "show all places", places_path %></p></br>



