<!DOCTYPE html>
<html>
<head>
  <title>Kataklimb2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% flash.each do |key, value| %>
	    <%= content_tag(:div, value, :class => "flash #{key}") %>
	  <% end %>
		<header>
			<h1> KataKlimb - page to connect people who want to climb in Barcelona and around it  </h1>
			<nav>
				<ul>
					<li> <%= link_to 'Go Home ET', root_path %> </li>
					<% if current_user %>
						<li><%= link_to 'log out here', logout_path, method: :destroy %></li>
					<% else %>
						<li><%= link_to 'login here', login_path %></li>
					<% end %>
				</ul>
			</nav>
		</header>

		<div class="yield">

			<%= yield %>
		
		</div>

		<footer>
			
		</footer>
	</div>

</body>

</html>
