<!DOCTYPE html>
<html>
<head>
  <title>Kataklimb2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<h1> KataKlimb - page to connect people who want to climb in Barcelona and around it  </h1>
			<nav>
				<ul>
					<li> <%= link_to 'Go Home ET', root_path %> </li>
					<li><%= link_to 'login', login_path %></li>
				</ul>
			</nav>
		</header>

		<div class="yield">

			<%= yield %>
		
		</div>

		<footer>
			
		</footer>
	</div>

</body>

</html>
